<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GHAYAS</title>
</head>
<body>

<h1 id="h"></h1>

<input id="txt" type="text" placeholder="enter User Name">
<button onclick="sub()">LOGIN </button>
<h1>Online Users</h1>
<ul id="x">
</ul>



  <script src="/socket.io/socket.io.js"></script>
  <script>
      const socket = io();
      socket.on('users',(users)=>{
        document.getElementById("x").innerHTML ='';
        Object.keys(users).forEach((value) => {
          const node = document.createElement("li");
          const textnode = document.createTextNode(users[value]);
          node.appendChild(textnode);
          document.getElementById("x").appendChild(node);
                    
        });
      })

      socket.on('event',(data)=>{
        console.log(data)
      })


      

      const sub = ()=>{
        const txt = document.getElementById('txt').value
        document.getElementById('h').innerText = txt
        socket.emit('conn',txt)
      }

  </script>
</body>
</html>